In [1]:
print ('Hello From Jupyter')

Hello From Jupyter

In [2]:
My_Str = 'Hello'
My_Int = 16

print(My_Str)
print(My_Int)

Hello
16

In [3]:
My_Str

'Hello'

In [4]:
My_Str
My_Int

16

In [5]:
Number_of_Apples = 5
if Number_of_Apples < 1 :
    print('You have no apples')
elif Number_of_Apples == 1 :
    print('You have one apples')
elif Number_of_Apples < 4 :    
    print('You have a few apples')
else :
    print('You have many apples')

You have many apples

In [6]:
Number_of_Apples = 3
if Number_of_Apples < 1 :
    print('You have no apples')
elif Number_of_Apples == 1 :
    print('You have one apples')
elif Number_of_Apples < 4 :    
    print('You have a few apples')
else :
    print('You have many apples')

You have a few apples

In [7]:
Student_names = ['Alice', 'Bob', 'Carol', 'Dave']
Student_names [1]
Student_names [3]

'Dave'

In [8]:
Student_names [1]

'Bob'

In [9]:
Student_names [0]

'Alice'

In [10]:
Student_names [-1]

'Dave'

In [11]:
Student_names [0:2]

['Alice', 'Bob']

In [12]:
Student_names [1:3]

['Bob', 'Carol']

In [13]:
Student_names [:2]

['Alice', 'Bob']

In [14]:
Student_names [2:]

['Carol', 'Dave']

In [15]:
Student_names.append('Esther')
Student_names

['Alice', 'Bob', 'Carol', 'Dave', 'Esther']

In [16]:
Student_names.insert(2 , 'Saad')
Student_names

['Alice', 'Bob', 'Saad', 'Carol', 'Dave', 'Esther']

In [17]:
del Student_names [5]
Student_names

['Alice', 'Bob', 'Saad', 'Carol', 'Dave']

In [18]:
Student_names.append('Esther')
Student_names.append('Esther')
Student_names

['Alice', 'Bob', 'Saad', 'Carol', 'Dave', 'Esther', 'Esther']

In [19]:
Student_names = ['Alice', 'Bob', 'Carol', 'Dave']
for Student_name in Student_names :
    print('Hello '+ Student_name + '!' )

Hello Alice!
Hello Bob!
Hello Carol!
Hello Dave!

In [20]:
Long_names = []
for Student_name in Student_names :
    if len(Student_name) > 4 :
        Long_names.append(Student_name)
        
Long_names

['Alice', 'Carol']

In [21]:
Student_names = ['Alice', 'Bob', 'Carol', 'Dave']
Student_pairs = []
for Student_name_0 in Student_names :
     for Student_name_1 in Student_names:
            Student_pairs.append(
                (Student_name_0, Student_name_1)
            )
Student_pairs

[('Alice', 'Alice'),
 ('Alice', 'Bob'),
 ('Alice', 'Carol'),
 ('Alice', 'Dave'),
 ('Bob', 'Alice'),
 ('Bob', 'Bob'),
 ('Bob', 'Carol'),
 ('Bob', 'Dave'),
 ('Carol', 'Alice'),
 ('Carol', 'Bob'),
 ('Carol', 'Carol'),
 ('Carol', 'Dave'),
 ('Dave', 'Alice'),
 ('Dave', 'Bob'),
 ('Dave', 'Carol'),
 ('Dave', 'Dave')]

In [22]:
Student_grade = ('Alice', 'Spanish', 'A-')
Student_grade

('Alice', 'Spanish', 'A-')

In [23]:
Student_grade[0]

'Alice'

In [24]:
Student_grade.append('IU Bloomington')

AttributeError: 'tuple' object has no attribute 'append'

In [25]:
del Student_grade[2]

TypeError: 'tuple' object doesn't support item deletion

In [26]:
Student_grade[2] = 'C'

TypeError: 'tuple' object does not support item assignment

In [27]:
Student_grade = ('Alice', 'Spanish', 'A-')
Student_name, subject, grade = Student_grade

print(Student_name)
print(subject)
print(grade)

Alice
Spanish
A-

In [28]:
Student_grades = [
    ('Alice', 'Spanish', 'A-'),
    ('Bob', 'French', 'C'),
    ('Carol', 'Italian', 'B+'),
    ('Dave', 'Italian', 'A-'),
]
for Student_name, subject, grade in Student_grades :
    if grade.startswith('A') :
        print('Congratulations', Student_name,
              'on getting an', grade,
              'in', subject)

Congratulations Alice on getting an A- in Spanish
Congratulations Dave on getting an A- in Italian

In [29]:
for Student_grade in Student_grades :
    if Student_grade[2].startswith('A') :
        print('Congratulations', Student_grade[0],
              'on getting an', Student_grade[2],
              'in', Student_grade[1])

Congratulations Alice on getting an A- in Spanish
Congratulations Dave on getting an A- in Italian

In [30]:
Foreign_languages = {
    'Alice': 'Spanish',
    'Bob': 'French',
    'Carol': 'Italian',
    'Dave': 'Italian',
}

In [31]:
Foreign_languages['Carol']

'Italian'

In [32]:
Foreign_languages['Zeke']

KeyError: 'Zeke'

In [33]:
'Zeke' in Foreign_languages

False

In [34]:
'Alice' in Foreign_languages

True

In [35]:
'alice' in Foreign_languages

False

In [36]:
Foreign_languages['Esther'] = 'French'
Foreign_languages

{'Alice': 'Spanish',
 'Bob': 'French',
 'Carol': 'Italian',
 'Dave': 'Italian',
 'Esther': 'French'}

In [37]:
del Foreign_languages['Bob']
Foreign_languages

{'Alice': 'Spanish', 'Carol': 'Italian', 'Dave': 'Italian', 'Esther': 'French'}

In [38]:
Foreign_languages['Esther'] = 'Italian'
Foreign_languages

{'Alice': 'Spanish',
 'Carol': 'Italian',
 'Dave': 'Italian',
 'Esther': 'Italian'}

In [39]:
for key in Foreign_languages :
    value = Foreign_languages[key]
    print(key, 'is taking', value)

Alice is taking Spanish
Carol is taking Italian
Dave is taking Italian
Esther is taking Italian

In [40]:
for key, value in Foreign_languages.items() :
    print(key, 'is taking', value)

Alice is taking Spanish
Carol is taking Italian
Dave is taking Italian
Esther is taking Italian

In [41]:
Student_grade = ('Alice', 'Spanish', 'A-')

In [42]:
Student_name, subject, grade =Student_grades[0]
print(Student_name, 'got a grade of', grade, 'in', subject)

Alice got a grade of A- in Spanish

In [43]:
Record = {
    'name': 'Alice',
    'subject': 'Spanish',
    'grade': 'A',
}
print(Record['name'],
      'got a grade of', Record['grade'],
      'in', Record['subject'])

Alice got a grade of A in Spanish

In [44]:
Student_grades = [
    ('Alice', 'Spanish', 'A'),
    ('Bob', 'French', 'C'),
    ('Carol', 'Italian', 'B+'),
    ('Dave', 'Italian', 'A-'),
]

In [45]:
Student_grades[1]

('Bob', 'French', 'C')

In [46]:
Student_grades[1][2]

'C'

In [51]:
Student_grade_records =[]
for Student_name, subject, grade in Student_grades :
    record = {
        'name' : Student_name,
        'subject' : subject,
        'grade': grade,
    }
Student_grade_records.append(Record)
Student_grade_records

[{'name': 'Alice', 'subject': 'Spanish', 'grade': 'A'}]

In [53]:
Student_grade_records[0]

{'name': 'Alice', 'subject': 'Spanish', 'grade': 'A'}

In [54]:
Student_grade_records[0]['grade']

'A'

In [55]:
for Record in Student_grade_records :
    if Record['grade'].startswith('A'):
        print('Congratulations', Record['name'],
             'on getting an', Record['grade'],
              'in', Record['subject'])

Congratulations Alice on getting an A in Spanish

In [69]:
foreign_language_grades = {}
for Student_name, subject, grade in Student_grades:
    record = {
        'subject': subject,
        'grade': grade,
    }
    foreign_language_grades[Student_name] = record
    
foreign_language_grades

{'Alice': {'subject': 'Spanish', 'grade': 'A'},
 'Bob': {'subject': 'French', 'grade': 'C'},
 'Carol': {'subject': 'Italian', 'grade': 'B+'},
 'Dave': {'subject': 'Italian', 'grade': 'A-'}}

In [70]:
foreign_language_grades['Alice']

{'subject': 'Spanish', 'grade': 'A'}

In [71]:
foreign_language_grades['Alice']['grade']

'A'

In [73]:
Student_course_grades = {}
for Student_name, subject, grade in Student_grades:
    Student_course_grades[Student_name, subject] = grade
   
Student_course_grades

{('Alice', 'Spanish'): 'A',
 ('Bob', 'French'): 'C',
 ('Carol', 'Italian'): 'B+',
 ('Dave', 'Italian'): 'A-'}

In [74]:
Student_course_grades['Alice', 'Math'] = 'A'
Student_course_grades['Alice', 'History'] = 'B'

In [75]:
Student_course_grades

{('Alice', 'Spanish'): 'A',
 ('Bob', 'French'): 'C',
 ('Carol', 'Italian'): 'B+',
 ('Dave', 'Italian'): 'A-',
 ('Alice', 'Math'): 'A',
 ('Alice', 'History'): 'B'}

In [76]:
Student_report_cards = {}
for Student_name, subject, grade in Student_grades:
    if Student_name not in Student_report_cards:
        Student_report_cards[Student_name]={}
    Student_report_cards[Student_name][subject]=grade

In [77]:
 Student_report_cards

{'Alice': {'Spanish': 'A'},
 'Bob': {'French': 'C'},
 'Carol': {'Italian': 'B+'},
 'Dave': {'Italian': 'A-'}}

In [78]:
Student_report_cards['Alice', 'Math'] = 'A'
Student_report_cards['Alice', 'History'] = 'B'

In [79]:
Student_report_cards

{'Alice': {'Spanish': 'A'},
 'Bob': {'French': 'C'},
 'Carol': {'Italian': 'B+'},
 'Dave': {'Italian': 'A-'},
 ('Alice', 'Math'): 'A',
 ('Alice', 'History'): 'B'}

In [80]:
Student_report_cards['Alice']

{'Spanish': 'A'}